body {
    background-color: #1a1a1a;
    color: antiquewhite;
    list-style-position: inside;
    text-align: center;
    font-family: Tahoma, sans-serif;
    padding-top: 100px;
}

h1, ul, ol {
    font-size: 45px;
}

p {
    font-size: 35px;
}
/* border-width, border-color, & border-style -must- be defined*/
img {
    border: 3px solid white;
}

a:hover {
    color: darkred;
}

.steps,
.ingredients {
    font-size: 55px;
    border: 2px whitesmoke solid;
}

.steps {
    background-color: rgb(153, 2, 2);
}

.ingredients {
    background-color: rgb(5, 105, 30);
}