* {
    padding: 0px;
    margin: 0px;

}

body {
    background-color: #1a1a1a;
    color: whitesmoke;
    list-style-position: inside;
    text-align: center;
    font-family: Tahoma, sans-serif;
    margin: 0px auto;
    padding-top: 10px;
    line-height: 1.1;
}

.opening {  /*h1 only on index.html*/
    font-size: 60px;
}

ol, li {
    padding-bottom: 20px;
}

ul, li {
    padding-bottom: 10px;
}

h1, ul, ol {
    font-size: 45px;
    
}

.description {
    margin-top: 10px;
    
}

p {
    font-size: 35px;
}
/* border-width, border-color, & border-style -must- be defined*/
img {
    border: 3px solid darkred;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #555;
}





.steps,
.ingredients {
    font-size: 55px;
    border: 2px whitesmoke solid;
    margin-bottom: 20px;
}

.steps {
    background-color: rgb(153, 2, 2);
    
    
}

.ingredients {
    background-color: rgb(5, 105, 30);
}